
# Fichiers compilés et exécutables
*.o
*.obj
*.exe
*.out
*.app

# Dossiers de build CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
s102.depend
s102.cbp
s102.layout
CMakeLists.txt


# Dossiers de build Code::Blocks
*.layout
*.depend
*.cbp.bak

# Dossiers IDE
.idea/
.vscode/
*.suo
*.user
*.sln.docstates

# Fichiers système
.DS_Store
Thumbs.db
